* {
  padding: 0;
  margin: 0;
  text-decoration: none;
  list-style: none;
}
header {
  display: flex;
}

.leftBox {
  width: 239px;
  height: 1275px;
  background-color: #1c2c3f;
}
.logo {
  padding: 15px 50px;
}

hr {
  height: 1px;
  border-width: 0;
  color: gray;
  background-color: gray;
}
.main {
  color: #4d5875;
  padding: 15px 30px;
}

.fa-display {
  display: flex;
  justify-content: flex-start;
  color: white;

  gap: 10px;
}

span {
  display: flex;
  color: white;
}
.box {
  color: white;
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 20px;
}
.general {
  display: flex;
  justify-content: space-between;
  color: white;
}
.pages ul a {
  color: white;
  display: flex;
  flex-direction: column;
  padding: 5px;
}
.box2 {
  width: 100%;
}
.right-box {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.left {
  display: flex;
  justify-content: left;
}
.right {
  display: flex;
  flex-direction: row;
  justify-content: end;
}
input {
  width: 350px;
  height: 40px;
}
img {
  border-radius: 50%;
}
.title {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.boxes1 {
  display: flex;
  flex-wrap: wrap;
  margin: 10px;
  width: 650px;
  background-color: antiquewhite;
}
.mini_box1 {
  margin: 10px;
  width: 296px;
  height: 93px;
  border-style: solid;
  border-color: grey;
  border-width: 1px;
  border-radius: 10px;
  background-color: white;
}
.mini_box2 {
  margin: 10px;
  width: 296px;
  height: 93px;
  border-style: solid;
  border-color: grey;
  border-width: 1px;
  border-radius: 10px;
  background-color: white;
}
.mini_box3 {
  margin: 10px;
  width: 296px;
  height: 93px;
  border-style: solid;
  border-color: grey;
  border-width: 1px;
  border-radius: 10px;
  background-color: white;
}
.mini_box4 {
  margin: 10px;
  width: 296px;
  height: 93px;
  border-style: solid;
  border-color: grey;
  border-width: 1px;
  border-radius: 10px;
  background-color: white;
}
.boxes2 {
  display: flex;
  flex-wrap: wrap;
  margin: 10px;
  width: 650px;
  background-color: aquamarine;
}
.mini_box5 {
  margin: 10px;
  width: 296px;
  height: 400px;
  border-style: solid;
  border-color: grey;
  border-width: 1px;
  border-radius: 10px;
  background-color: white;
}
.mini_box6 {
  margin: 10px;
  width: 296px;
  height: 400px;
  border-style: solid;
  border-color: grey;
  border-width: 1px;
  border-radius: 10px;
  background-color: white;
}
